In [23]:
from sklearn.datasets import load_sample_image
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import cv2

In [11]:
path = '../../test_images/barefoot_moscato.png'
im = cv2.imread(path)

In [13]:
im.shape

(493, 336, 3)

In [16]:
w, h, d = original_shape = tuple(im.shape)
image_array = np.reshape(im, (w * h, d))

In [18]:
image_array

array([[ 2, 16, 38],
       [ 6, 20, 42],
       [ 8, 24, 47],
       ...,
       [16, 31, 34],
       [15, 30, 33],
       [15, 30, 33]], dtype=uint8)

In [21]:
image_array.shape

(165648, 3)

In [25]:
df = pd.DataFrame(data=image_array)

In [26]:
df

         0   1    2
0        2  16   38
1        6  20   42
2        8  24   47
3       10  26   49
4       11  25   53
5       13  27   55
6       16  32   61
7       18  36   65
8       20  38   67
9       19  40   68
10      21  44   70
11      22  46   70
12      20  46   70
13      19  46   67
14      17  44   64
15      15  42   63
16      14  39   65
17      15  39   67
18      15  39   67
19      12  36   64
20      10  35   61
21      11  36   62
22      16  41   67
23      20  45   71
24      27  53   77
25      26  52   76
26      29  56   77
27      38  65   86
28      49  76   97
29      54  81  102
...     ..  ..  ...
165618  15  36   44
165619  13  34   42
165620  12  33   41
165621  11  32   40
165622  10  32   38
165623   9  31   37
165624  12  31   38
165625  11  30   37
165626  11  30   37
165627  11  30   37
165628  10  30   35
165629  10  30   35
165630  10  30   35
165631  11  30   35
165632  14  31   34
165633  16  31   34
165634  16  31   34
165635  17  32   35
165636  18  33   36
165637  19  34   37
165638  19  34   37
165639  20  35   38
165640  17  32   35
165641  21  36   39
165642  24  39   42
165643  24  39   42
165644  20  35   38
165645  16  31   34
165646  15  30   33
165647  15  30   33

[165648 rows x 3 columns]